.My-Profile-Wrapper{
  height: 80vh;
  background: url(https://i.postimg.cc/W1dy51pb/denys-nevozhai-dq93a-Nzsr-H0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:-20px;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#00b894;
  size: 50px;
}

.My-Button{
  position:absolute; 
   	left:47px;   
   	width:150px;
  
}
.btn-1{
 
  background: none;
  border: 2px solid #00b894;
  color: #00b894;
  padding:5px;
  font-size:20px;
  left:-100px;  
  top:100px; 
}

.prop-style{
  color:#5e6665;
}
